@import "variables";

.aboutImg
{
	text-align: center;
}
	.aboutImg
	{
		margin-bottom: 50px;
	}


.aboutSec
{

	p
	{
		margin-top: 10px;
	}
}

.creditsList
{
	a
	{
		display: inline-block;

		font-weight: bold;
	}
}
